
  <div class="ui borderless main menu fixed">
    <div class="ui container">
      <div class="ui header item">
        <img class="ui mini" src="https://cure4thekids.org/wp-content/uploads/2018/12/Storybook-Homes-Long-Term-Followup-Clinic-Logo-transparent-846x406.png">
        StoryBooks
      </div>
      {{#if user}}
      <a class="item" href="/stories">Public Stories</a>
      <a class="item" href="/dashboard">Dashboard</a>
      <a class="item" href="/stories/add">New Story</a>
      <a class="item" href="/stories/my">My Story</a>
      {{else}}
      <a class="item" href="/stories">Public Stories</a>
      {{/if}}
      <div class="right menu">
        {{#if user}}
        <a class="ui item" href="/auth/logout" style="margin-right: 0em">
          Logout
        </a>
        {{else}}
        <a class="ui item" href="/auth/google">
          Sign in
        </a>
        <a class="ui item" href="/auth/google">
          Sign up
        </a>
        {{/if}}
      </div>
    </div>
  </div>

