  
  <div class="ui piled segment stack_landing" style="margin: 10em 1em 0em 1em ">
    <div class="ui vertical stripe segment" >
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header">Welcome</h3>
            <p>Welcome to StoryBooks</p>
            <p>Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</p>
          </div>
          <div class="six wide right floated column">
            <div class="ui raised segment">
              <a class="ui red ribbon label">Best</a>
              <span>Days</span>
                <div class="ui placeholder">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              <a class="ui blue ribbon label">Worst</a> Events
                <div class="ui placeholder">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui google plus button" href="/auth/google">
              <i class="google plus icon"></i>
              Google Plus
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>