<div class="story container">
  <div class="ui horizontal divider">Tell Us Your New Story</div>
  <form class="ui form segment" action="/stories" method="post">
    <p>Tell Us Your Story</p>
    <div>
      <div class="field">
        <label>Title</label>
        <input placeholder="Title" name="title" type="text">
      </div>
      <div class="field">
        <label>Status</label>
        <select class="ui dropdown" name="status">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
          <option value="unpublished">Unpublished</option>
        </select>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="allowComments" checked="checked">
          <label>Allow comments</label>
        </div>
      </div>
      <div class="field">
        <label>Content</label>
        <textarea name="content" id="editor"></textarea>
      </div>
      <div class="ui primary submit button">Save</div>
      <div class="ui error message"></div>
    </div>
  </form>
</div>