<div class="story container">
  <div class="ui horizontal divider">Tell Us Your New Story</div>
  <form class="ui form segment" action="/stories/{{story.id}}?_method=PUT" method="post">
    <input type="hidden" name="_method" value="PUT">
    <p>Tell Us Your Story</p>
    <div>
      <div class="field">
        <label>Title</label>
        <input placeholder="Title" name="title" type="text" value="{{story.title}}">
      </div>
      <div class="field">
        <label>Status</label>
        <select class="ui dropdown" name="status">
          {{#select story.status}}
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
            <option value="unpublished">Unpublished</option>
          {{/select}}
        </select>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" name="allowComments" {{#if story.allowComments}} checked="checked" {{/if}} >
          <label>Allow comments</label>
        </div>
      </div>
      <div class="field">
        <label>Content</label>
        <textarea name="content" id="editor">{{story.body}}</textarea>
      </div>
      <div class="ui primary submit button">Save</div>
      <div class="ui error message"></div>
    </div>
  </form>
</div>